/data/*

!/data/antenna
/data/antenna/*
!/data/antenna/.gitignore
!/data/antenna/ATX
/data/antenna/ATX/*
!/data/antenna/ATX/.gitignore
!/data/antenna/ATX/I05.ATX
!/data/antenna/ATX/I08.ATX
!/data/antenna/ATX/I14.ATX
!/data/antenna/ATX/I20.ATX


!/data/satellite
/data/satellite/*
!/data/satellite/*
!/data/satellite/CLK
/data/satellite/CLK/*
!/data/satellite/CLK/.gitignore
!/data/satellite/EPH
/data/satellite/EPH/*
!/data/satellite/EPH/.gitignore
!/data/satellite/CRX
/data/satellite/CRX/*
!/data/satellite/CRX/.gitignore
!/data/satellite/ATM
/data/satellite/ATM/*
!/data/satellite/ATM/.gitignore
!/data/satellite/SBAS
/data/satellite/SBAS/*
!/data/satellite/SBAS/.gitignore
!/data/satellite/SBAS/EMS
/data/satellite/SBAS/EMS/*
!/data/satellite/SBAS/EMS/.gitignore
/data/satellite/DCB
!/data/satellite/BIAS
/data/satellite/BIAS/*
!/data/satellite/BIAS/.gitignore

!/data/reference/ATM_LOAD
/data/reference/ATM_LOAD/*
!/data/reference/ATM_LOAD/.gitignore
!/data/reference/ATM_LOAD/s1_s2_s3_cm_noib_grid.dat
!/data/reference/DTM
/data/reference/DTM/*
!/data/reference/DTM/.gitignore
!/data/reference/ERP
/data/reference/ERP/*
!/data/reference/ERP/.gitignore
!/data/reference/Geoid
/data/reference/Geoid/*
!/data/reference/Geoid/.gitignore
!/data/reference/Geoid/geoid_EGM2008_05.mat
!/data/reference/JPL
/data/reference/JPL/*
!/data/reference/JPL/.gitignore
!/data/reference/JPL/de436.bin
!/data/reference/IGRF
/data/reference/IGRF/*
!/data/reference/IGRF/.gitignore
!/data/reference/IGRF/igrf12coeff.txt
!/data/reference/IGRF/P_dP_schimdt.mat
!/data/reference/IONO
/data/reference/IONO/*
!/data/reference/IONO/.gitignore
!/data/reference/VMF
/data/reference/VMF/*
!/data/reference/VMF/.gitignore
!/data/reference/VMF/orography
!/data/reference/VMF/orography_ell
!/data/reference/VMF/orography_ell_1x1
!/data/reference/VMF/orography_ell_5x5



!/data/station
/data/station/*
!/data/station/.gitignore
!/data/station/CRD/
/data/station/CRD/*
!/data/station/CRD/.gitignore
!/data/station/CRD/stations.crd
!/data/station/CRD/world_archive.xyz
!/data/station/MET
/data/station/MET/*
!/data/station/MET/.gitignore
!/data/station/MET/example.met
!/data/station/SNX/
/data/station/SNX/*
!/data/station/SNX/.gitignore
!/data/station/ocean/
/data/station/ocean/*
!/data/station/ocean/.gitignore
!/data/station/ocean/ocean_loading.blq

!/data/img
/source/settings

!/data/project
/data/project/*
#!/data/project/default_DD
#!/data/project/default_DD/*
#!/data/project/default_DD/.gitignore
#!/data/project/default_DD/out
#/data/project/default_DD/out/*
#!/data/project/default_DD/out/.gitignore

!/data/project/default
!/data/project/default/*
/data/project/default/out/*
/data/project/default/out_net/*
!/data/project/default/out/.gitignore
!/data/project/default/antenna
/data/project/default/antenna/*
!/data/project/default/antenna/.gitignore
!/data/project/default/antenna/ATX
/data/project/default/antenna/ATX/*
!/data/project/default/antenna/ATX/.gitignore
!/data/project/default/antenna/ATX/I08.ATX
!/data/project/default/antenna/ATX/I14.ATX
!/data/project/default/station
/data/project/default/station/*
!/data/project/default/station/.gitignore
!/data/project/default/station/CRD/
/data/project/default/station/CRD/*
!/data/project/default/station/CRD/.gitignore
!/data/project/default/station/CRD/stations.crd
!/data/project/default/RINEX
!/data/project/default/RINEX/*
!/data/project/default/station/MET
!/data/project/default/station/MET/.gitignore
!/data/project/default/station/MET/*
!/data/project/default/station/SNX/
/data/project/default/station/SNX/*
!/data/project/default/station/SNX/.gitignore
!/data/project/default/station/ocean/
/data/project/default/station/ocean/*
!/data/project/default/station/ocean/.gitignore
!/data/project/default/station/ocean/ocean_loading.blq

goGPS_beta9
!/data/old/settings/
/data/old/settings/*
!/data/old/settings/goGPS_iniDefaultKeywords.ini
last_settings.ini
credentials.txt
/source/bin
/source/com
/source/logs
/source/reference/DTM
/source/utility/thirdParty/m_map/etopo1_ice_g_i2
/source/reserved
/source/positioning/lambda/lambda_v3/lambda-3.0.zip
/source/positioning/lambda/lambda_v3/lambda-3.0/man
/source/positioning/lambda/lambda_v3/lambda-3.0/src/demo
/source/positioning/lambda/lambda_v3/lambda-3.0/src/*
!/data/goGPSconfig
de421.bin
.DS_Store
*~
goGPS_batch_multiple_station.m

source/untitled\.m

source/testing*
source/tmp.mat

remote_data

\.fuse_hidden0000392c00000001

\.fuse_hidden0000392c00000002

*.asv
source/obj/utils/colormaps\.zip
source/ssh\.pass
goGPS_v0.5.2 beta1_mod/
source/utility/thirdParty/m_map/etopo1_ice_g_i2.hdr
source/utility/thirdParty/m_map/etopo1_ice_g_i2.bin
source/utility/thirdParty/m_map/m_etopo2.m
!source/mex
source/mex/*
!source/mex/*.m
source/files.lst
source/credentials.txt
