/data/*

!/data/antenna
/data/antenna/*
!/data/antenna/.gitignore
!/data/antenna/ATX
/data/antenna/ATX/*
!/data/antenna/ATX/.gitignore
!/data/antenna/ATX/I08.ATX
!/data/antenna/ATX/I14.ATX
!/data/antenna/ATX/igs14_1941.atx
!/data/antenna/ATX/igs14_1977.atx
!/data/antenna/ATX/igs14_1984.atx
!/data/antenna/ATX/igs14_2056.atx

!/data/satellite
/data/satellite/*
!/data/satellite/*
!/data/satellite/CLK
/data/satellite/CLK/*
!/data/satellite/CLK/.gitignore
!/data/satellite/EPH
/data/satellite/EPH/*
!/data/satellite/EPH/.gitignore
!/data/satellite/CRX
/data/satellite/CRX/*
!/data/satellite/CRX/.gitignore
!/data/satellite/ATM
/data/satellite/ATM/*
!/data/satellite/ATM/.gitignore
!/data/satellite/SBAS
/data/satellite/SBAS/*
!/data/satellite/SBAS/.gitignore
!/data/satellite/SBAS/EMS
/data/satellite/SBAS/EMS/*
!/data/satellite/SBAS/EMS/.gitignore
!/data/satellite/DCB
/data/satellite/DCB/*
!/data/satellite/DCB/.gitignore

!/data/reference/ATM_LOAD
/data/reference/ATM_LOAD/*
!/data/reference/ATM_LOAD/.gitignore
!/data/reference/ATM_LOAD/s1_s2_s3_cm_noib_grid.dat
!/data/reference/DTM
/data/reference/DTM/*
!/data/reference/DTM/.gitignore
!/data/reference/ERP
/data/reference/ERP/*
!/data/reference/ERP/.gitignore
!/data/reference/Geoid
/data/reference/Geoid/*
!/data/reference/Geoid/.gitignore
!/data/reference/Geoid/geoid_EGM2008_05.mat
!/data/reference/JPL
/data/reference/JPL/*
!/data/reference/JPL/.gitignore
!/data/reference/JPL/de436.bin
!/data/reference/IGRF
/data/reference/IGRF/*
!/data/reference/IGRF/.gitignore
!/data/reference/IGRF/igrf12coeff.txt
!/data/reference/IGRF/P_dP_schimdt.mat
!/data/reference/IONO
/data/reference/IONO/*
!/data/reference/IONO/.gitignore
!/data/reference/VMF
/data/reference/VMF/*
!/data/reference/VMF/.gitignore
!/data/reference/VMF/orography
!/data/reference/VMF/orography_ell


!/data/station
/data/station/*
!/data/station/.gitignore
!/data/station/CRD/
/data/station/CRD/*
!/data/station/CRD/.gitignore
!/data/station/CRD/stations.crd
!/data/station/CRD/gred_world_archive.xyz
!/data/station/MET
/data/station/MET/*
!/data/station/MET/.gitignore
!/data/station/MET/example.met
!/data/station/SNX/
/data/station/SNX/*
!/data/station/SNX/.gitignore
!/data/station/ocean/
/data/station/ocean/*
!/data/station/ocean/.gitignore
!/data/station/ocean/ocean_loading.blq

!/data/img
/goGPS/settings

!/data/project
/data/project/*
#!/data/project/default_DD
#!/data/project/default_DD/*
#!/data/project/default_DD/.gitignore
#!/data/project/default_DD/out
#/data/project/default_DD/out/*
#!/data/project/default_DD/out/.gitignore

!/data/project/default_PPP/*
/data/project/default_PPP/out/*
!/data/project/default_PPP/out/.gitignore
!/data/project/default_PPP/antenna
/data/project/default_PPP/antenna/*
!/data/project/default_PPP/antenna/.gitignore
!/data/project/default_PPP/antenna/ATX
/data/project/default_PPP/antenna/ATX/*
!/data/project/default_PPP/antenna/ATX/.gitignore
!/data/project/default_PPP/antenna/ATX/I08.ATX
!/data/project/default_PPP/antenna/ATX/I14.ATX
!/data/project/default_PPP/station
/data/project/default_PPP/station/*
!/data/project/default_PPP/station/.gitignore
!/data/project/default_PPP/station/CRD/
/data/project/default_PPP/station/CRD/*
!/data/project/default_PPP/station/CRD/.gitignore
!/data/project/default_PPP/station/CRD/stations.crd
!/data/project/default_PPP/station/MET
/data/project/default_PPP/station/MET/*
!/data/project/default_PPP/station/MET/.gitignore
!/data/project/default_PPP/station/MET/zim20970.17m
!/data/project/default_PPP/station/MET/zim20980.17m
!/data/project/default_PPP/station/MET/zim20990.17m
!/data/project/default_PPP/station/MET/zim21000.17m
!/data/project/default_PPP/station/MET/zimj0970.17m
!/data/project/default_PPP/station/MET/zimj0980.17m
!/data/project/default_PPP/station/MET/zimj0990.17m
!/data/project/default_PPP/station/MET/zimj1000.17m
!/data/project/default_PPP/station/MET/zimm0970.17m
!/data/project/default_PPP/station/MET/zimm0980.17m
!/data/project/default_PPP/station/MET/zimm0990.17m
!/data/project/default_PPP/station/MET/zimm1000.17m
!/data/project/default_PPP/station/SNX/
/data/project/default_PPP/station/SNX/*
!/data/project/default_PPP/station/SNX/.gitignore
!/data/project/default_PPP/station/ocean/
/data/project/default_PPP/station/ocean/*
!/data/project/default_PPP/station/ocean/.gitignore
!/data/project/default_PPP/station/ocean/ocean_loading.blq

!/data/old/settings/
/data/old/settings/*
!/data/old/settings/goGPS_iniDefaultKeywords.ini
last_settings.ini
/goGPS/bin
/goGPS/com
/goGPS/logs
/goGPS/reference/DTM
/goGPS/utility/thirdParty/m_map/etopo1_ice_g_i2
/goGPS/reserved
/goGPS/positioning/lambda/lambda_v3/lambda-3.0.zip
/goGPS/positioning/lambda/lambda_v3/lambda-3.0/man
/goGPS/positioning/lambda/lambda_v3/lambda-3.0/src/demo
/goGPS/positioning/lambda/lambda_v3/lambda-3.0/src/*
/goGPS/positioning/lambda/lambda_v3/
!/data/goGPSconfig
de421.bin
.DS_Store
*~
goGPS_batch_multiple_station.m

goGPS/untitled\.m

goGPS/testing*
goGPS/tmp.mat

remote_data

\.fuse_hidden0000392c00000001

\.fuse_hidden0000392c00000002

*.asv

goGPS/obj/utils/colormaps\.zip

goGPS/ssh\.pass

goGPS/goGuardCurPrj\.ini

goGPS_v0.5.2 beta1_mod/
