/data/*

!/data/project
/data/project/*
!/data/project/default_DD/*
/data/project/default_DD/out/*
#!/data/project/default_PPP/*
#/data/project/default_PPP/out/*

!/data/antenna
/data/antenna/*
!/data/antenna/ATX
/data/antenna/ATX/*
!/data/antenna/ATX/I08.ATX

!/data/satellite
/data/satellite/*
!/data/satellite/CLK
/data/satellite/CLK/*
!/data/satellite/EPH
/data/satellite/EPH/*
#!/data/satellite/EPH/igs18590.sp3
!/data/satellite/CRX
/data/satellite/CRX/*
!/data/satellite/ATM
/data/satellite/ATM/*
!/data/satellite/SBAS
/data/satellite/SBAS/*
!/data/satellite/SBAS/EMS
/data/satellite/SBAS/EMS/*
!/data/satellite/DCB
/data/satellite/DCB/*

!/data/reference/Geoid
/data/reference/Geoid/*
!/data/reference/Geoid/geoid_EGM2008_05.mat
!/data/reference/DTM
/data/reference/DTM/*

!/data/stations
/data/stations/*
!/data/stations/CRD/
/data/stations/CRD/*
!/data/stations/CRD/stations.crd
!/data/stations/SNX/
/data/stations/SNX/*
!/data/stations/Ocean/
/data/stations/Ocean/*

!/data/img
/goGPS/settings

!/data/old/settings/
/data/old/settings/*
!/data/old/settings/goGPS_iniDefaultKeywords.ini
/goGPS/positioning/lambda/lambda_v3
de421.bin
.DS_Store
*.m~
goGPS_batch_multiple_stations.m
